[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
django = "==5.0"
django-extensions = "==3.2.3"
django-filter = "==24.2"
djangorestframework = "==3.15.1"
djangorestframework-jsonapi = "==7.0.0"
inflection = "==0.5.1"
openai = "1.27.0"
python-dotenv = "==1.0.1"
pytz = "==2024.1"
sqlparse = "==0.5.0"
tzdata = "==2024.1"

[dev-packages]

[requires]
python_version = "3.11"
